table th {
  background-color: #fbc25b;
  padding: 10px 20px;
}

table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
  text-align: center;
}

.notice {
  background-color: palegreen;
}

.alert {
  background-color: salmon;
}